/*查看自定义CSS请搜索“my”*/
.body-container {
    width: 100%;
}

body {
    background-image: url(../img/backPic.jpg);
    background-attachment: fixed;
}

.art-container {
    width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
}

footer {
    float: left;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FAFAFA;
    color: #9c9c9c;
    text-align: center;
    /*color: #000;*/
}

/*头部CSS*/
header {
    background-color: white;
}

.hd-line {
    height: 2px;
    width: 100%;
    background-color: #3A80C0;
}

.hd-container {
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    padding: 10px 0;
    box-sizing: border-box;
}

.hd-container img {
    float: left;
    height: 30px;
}

.hd-container nav {
    float: right;
    height: 30px;
    font-size: 14px;
}

.hd-container nav a {
    padding: 8px 8px 0 8px;
    line-height: 30px;
}

.hd-container nav a:hover {
    color: #3A80C0;
}
/*头部CSS结束*/

/*导航栏CSS*/
.nav-left {
    width: 150px;
    float: left;
}

.nav-left a {
    float: left;
    width: 100%;
    padding: 10px 10px;
    display: block;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.6;
}

.nav-left  a:hover {
    background-color: #3A80C0;
}
/*导航栏CSS结束*/

/*内容栏*/
article {
    float: left;
    width: 600px;
}

.topInput {
    margin-bottom: 10px;
}

.myPage {
    margin: 20px auto;
}

.modalPngContainer {
    position: fixed;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    z-index: 4;
    text-align: center;
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.modalBack {
    /*position: fixed;*/
    width: 0;
    height: 0;
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: 5;*/
    /*background-color: rgba(255,255,255,0.6);*/
    background-color: rgba(54,127,195,0.2);
    text-align: center;
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: width 0.5s,height 0.5s;
}

.allScreen {
    width: 100%;
    height: 100%;
}

.followBtn:hover {
    color: #3A80C0;
    cursor: pointer;
}

.img-left {
    width: 50px;
    height: 50px;
    float: right;
}

.img-right {
    width: 160px;
    height: 105px;
    padding-top: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.userShow {
    padding: 20px 10px 20px;
    margin-bottom: 10px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 2px;
}

.myWell {
    padding: 20px 10px 20px;
    margin-bottom: 10px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 2px;
}

.myWell h5 {
    margin-top: 0;
}

.myWell span {
    margin-right: 20px;
    font-size: 16px;
}

.myWell a {
    color: #3A80C0;
    cursor: pointer;
}

.myWell a:hover {
    text-decoration: underline;
}

.wellBottom {
    margin: 10px 5px 0;
    padding: 10px 0 0;
    border-top: 1px solid #eee;
    color: #ccc;
    cursor: pointer;
}

.wellBottom div:nth-child(2) {
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
}

.wellBottom div:hover {
    color: #3A80C0;
}

.wellBottom span {
    font-size: 14px;
    font-weight: 200;
}

/*点赞动画*/
.thumbsUp {
    animation: thumbsUp 0.5s;
    -webkit-animation: thumbsUp 0.5s;
}

@keyframes thumbsUp
{
    0% {
        color: black;
    }
    25% {
        color: #E09E36;
        transform: rotate(-30deg);
        -ms-transform: rotate(-30deg); /* IE 9 */
        -webkit-transform: rotate(-30deg); /* Safari and Chrome */
    }
    50% {
        transform: rotate(0);
        -ms-transform: rotate(0); /* IE 9 */
        -webkit-transform: rotate(0); /* Safari and Chrome */
    }
    75% {
        color: #E09E36;
        transform: rotate(30deg);
        -ms-transform: rotate(30deg); /* IE 9 */
        -webkit-transform: rotate(30deg); /* Safari and Chrome */
    }
    100% {
        color: black;
        transform: rotate(0);
        -ms-transform: rotate(0); /* IE 9 */
        -webkit-transform: rotate(0); /* Safari and Chrome */
    }
}

@-webkit-keyframes thumbsUp /* Safari and Chrome */
{
    0% {
        color: black;
    }
    25% {
        color: #E09E36;
        transform: rotate(-30deg);
        -ms-transform: rotate(-30deg); /* IE 9 */
        -webkit-transform: rotate(-30deg); /* Safari and Chrome */
    }
    50% {
        transform: rotate(0);
        -ms-transform: rotate(0); /* IE 9 */
        -webkit-transform: rotate(0); /* Safari and Chrome */
    }
    75% {
        color: #E09E36;
        transform: rotate(30deg);
        -ms-transform: rotate(30deg); /* IE 9 */
        -webkit-transform: rotate(30deg); /* Safari and Chrome */
    }
    100% {
        color: black;
        transform: rotate(0);
        -ms-transform: rotate(0); /* IE 9 */
        -webkit-transform: rotate(0); /* Safari and Chrome */
    }
}

.comment form {
    margin-top: 10px;
}

.commentText {
    margin-top: 10px;
    padding: 0 5px;
}

/*内容栏结束*/

/*用户栏未登录CSS*/
aside {
    float: left;
    width: 230px;
    margin-left: 10px;
}

.unlogined {
    padding: 10px 10px 50px 10px;
}

.unlogined {
    background-color: white;
}

.unlogined input {
    width: 100%;
}

.myAlert {
    width: 100%;
    margin-top: 5px;
    padding: 5px 5px;
    background-color: #F2DEDF;
    border-radius: 3px;
}

.myClose {
    cursor: pointer;
}

.myClose:hover {
    opacity: 0.6;
}
/*用户栏CSS结束*/

/*已登录的界面*/
.logined {
    height: 165px;
    background-image: url("../img/backPicMin.jpg");
    background-size: 230px 75px;
    background-repeat: no-repeat;
    background-color: white;
}

.logined img {
    margin-left: 83px;
    margin-top: 30px;
    width: 60px;
    height: 60px;
    padding: 2px;
    background-color: #BED4E2;
    clear: both;
}

.userInf {
    width: 200px;
    margin: 0 auto;
}