<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        aside {
            float: left;
            width: 230px;
            margin-left: 10px;
        }

        .unlogined {
            padding: 10px 10px 50px 10px;
        }

        .unlogined {
            background-color: white;
        }

        .unlogined input {
            width: 100%;
        }
        /*已登录的界面*/
        .logined {
            height: 170px;
        }
    </style>
</head>
<body>
<aside>
    <form class="unlogined" role="form" novalidate>
        <h4>欢迎使用智慧脑图</h4>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="user" placeholder="请输入账号" required>
            <button ng-click="myclick()">验证</button>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" ng-model="password" placeholder="请输入密码">
        </div>
        <button type="submit" class="btn btn-default pull-left">登录</button>
        <a class="btn btn-default pull-right" href="#">注册</a>
    </form>
    <div ng-hide="true" class="logined">
        <div class="aside-top"></div>
        <div class="aside-bottom"></div>
    </div>
</aside>
</body>
</html>